<!doctype html>
<html>
<head>
    <title>TTT</title>
    <style>
        .logo {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<header>
    <img class="logo" src="/img/logo.png" alt="TTT Logo">
    {{{body}}}
</header>
</body>
</html>